{{extend 'layout1.html'}}
<h1> Welcome to the admin interface </h1>
<a href="http://127.0.0.1:8000/Assignment_2/default/category"><button name="Category"> Add Category </button></a>
<a href="http://127.0.0.1:8000/Assignment_2/default/admin_userdel"><button name="Category"> Delete User </button></a>
<a href="http://127.0.0.1:8000/Assignment_2/default/display"><button name="Display">Display Posts</button></a>
<a href="http://127.0.0.1:8000/Assignment_2/default/post"><button name="Post"> POST </button></a>
